<div class="navbar">
    <a routerLink="./home" routerLinkActive="active">Home</a>
    <a routerLink="./crud-opration/product" routerLinkActive="active">Crud Operations</a>
    <div class="dropdown">
        <button class="dropbtn">NgRx 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a routerLink="./ngrx-crud-opration/product-list" routerLinkActive="active">Product List</a>
          <a routerLink="./ngrx-crud-opration/add-product" routerLinkActive="active">Add Product</a>
        </div>
    </div> 
    <!--<div class="dropdown">
      <button class="dropbtn">Practice Assignment 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink="./flex-Layout" routerLinkActive="active">Flexbox Layout</a>
        <a routerLink="./grid-layout" routerLinkActive="active">Grid Layout</a>
         <a routerLink="./ngrx-tutorial-example1" routerLinkActive="active">NgRx Example1</a>
        <a routerLink="./ngrx-tutorial-example2" routerLinkActive="active">NgRx Example2</a> 
      </div>
    </div> -->
  </div>