
@media only screen 
and (min-width: 760px), (min-device-width: 768px) 
and (min-deviace-width: 1024px)   {


table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    }
thead {
    color: #4c61af;
}
tr{
    border-bottom: 1px solid rgba(0,0,0,0.12);
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
table, thead, tbody, th, td, tr {
    padding: 20px;
    font-size: 18px;
}
td {
    color: black !important;
}
// .table-row:nth-child(odd) {
//     background: #ccc;
//     }
}
@media only screen 
and (max-width: 760px), (min-device-width: 768px) 
and (max-deviace-width: 1024px)  {
    .container {
        margin: 0 auto;
        padding: 5px;
        width: 90%;
    }
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
        font-size: 14px;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        margin: 0 0 1rem 0;
    }

    tr:nth-child(odd) {
        background: #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        color: black !important;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 0;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
    Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
    */
    td:nth-of-type(1):before { content: "Id"; }
    td:nth-of-type(2):before { content: "Name"; }
    td:nth-of-type(3):before { content: "Description"; }
    td:nth-of-type(4):before { content: "Price"; }
    td:nth-of-type(5):before { content: "Quntity"; }
    td:nth-of-type(6):before { content: "Edit"; }
    td:nth-of-type(7):before { content: "Delete"; }
}