<div class="footer">
       <div class="containt  margin-page">
          <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12"> -->
             <div class="Follow">
                <h3>Follow Us</h3>
             </div>
             <div class="location_icon">
                <span class="m-1"> <a href="#"><img src="assets/icon/facebook.png"></a></span>
                <span class="m-1"> <a href="#"><img src="assets/icon/Twitter.png"></a></span>
                <span class="m-1"> <a href="#"><img src="assets/icon/instagram.png"></a></span>
             </div>
          <!-- </div> -->
       </div>
    </div>
 <div class="copyright">
   <p>Copyright 2019 All Right Reserved By Techspian</p>
 </div>
