<div class="header-top">
    <div class="topheaderContainer margin-page">
        <span class="lfloat">
            <span class="section-data containt-data section-data">
            India's Fastest Online Shopping Destination
            </span>
        </span>
        <span class="rfloat">
            <span class="section-data containt-data"> <i class="fa fa-phone"></i> 1234 123 2000</span>
            <span class="section-data containt-data"> Help Center </span>
        </span>
    </div>
</div>
